div(ng-include="'components/navbar/navbar.html'")

.container(ng-controller="MemoCtrl")
        
  tabset
    tab(heading="View")
      .panel.panel-default
        .panel-heading
          .panel-title {{memo.title}}
        .panel-body
          div(marked="memo.content")

    tab(heading="Raw")
      pre {{memo.content}}

    .input-group-btn
      a.btn.btn-default.pull-right(ng-click="deleteMemo()")
        span Remove 
      a.btn.btn-default.pull-right(href, ui-sref="memo-edit({id: memo._id})")
        span Edit 
